
/* -------------------------------------- common css start ------------------------------------- */
* {padding: 0; margin: 0; box-sizing: border-box;}
a {text-decoration: none;}
ul {list-style: none;}
.inner {position: relative; margin: 0 auto; width: 1200px;}
.only_pc {display: block;}
.only_mob {display: none;}
.section_title {font-size: 50px; font-weight: 700; letter-spacing: -.08em; word-break: keep-all;}
.letter_specing {letter-spacing: -.08em;}
.bold {font-weight: 700;}

@media screen and (max-width: 1280px) {
  .inner {margin: 0 auto; width: calc(100% - 30px);}
}
@media screen and (max-width: 768px) {
  .inner {margin: 0 auto; width: calc(100% - 30px);}
  .only_pc {display: none;}
  .only_mob {display: block;}
  .section_title {font-size: 28px;}
}

/* -------------------------------------- common css end ------------------------------------- */

/* -------------------------------------- header css start ------------------------------------- */

header {position: fixed; top: 0; left: 0; z-index: 999; display: none; width: 100%; height: 100px; border-bottom: 1px solid #ddd; background-color: #fff;}

/* -------------------------------------- header css end ------------------------------------- */

/* -------------------------------------- main css start ------------------------------------- */

main {padding-top: 200px; overflow: hidden;}
main {padding-top: 200px;}
main #sec1 {border: 1px solid blue;}
main #sec1 .inner .section_tit {font-size: 50px; }
main #sec1 .inner .tab_list {margin-top: 100px; display: flex; justify-content: center;}
/* main #sec1 .inner .tab_list li {} */
main #sec1 .inner .tab_list li a {padding: 10px 20px; display: block; color: #c7c7c7; font-weight: 700;}
main #sec1 .inner .tab_list li a.tabAct {color: #000;}

main #sec1 .summary_inner {position: relative; margin-top: 50px;}
main #sec1 .summary_inner .scroll_wrap {position: relative;}
main #sec1 .summary_inner .scroll_wrap .hiding_txt {position: absolute; top: 100px; left: 50%; transform: translateX(-50%); font-size: 36px; color: #000; opacity: 0; transition: top .66s, translateX .66s, opacity .66s ;}
main #sec1 .summary_inner.onAct .scroll_wrap .hiding_txt {top: 0; opacity: 1;}

main #sec1 .summary_inner .scroll_wrap .intro_wrap {position: relative; left: calc( -1 * (100vw - 1200px)/2); margin: 0 auto; display: flex; flex-wrap: wrap; width: 100vw; height: 640px; transition: all .66s}
main #sec1 .summary_inner.onAct .scroll_wrap .intro_wrap {left: 0; width: 1200px;}
main #sec1 .summary_inner .scroll_wrap .intro_wrap .intro_con {position: relative; overflow: hidden; width: 100%; height: 100%; opacity: 0;}
main #sec1 .summary_inner.onAct .scroll_wrap .intro_wrap .intro_con {margin-top: 150px; width: 360px; height: 460px; text-align: center; border-radius: 16px; transition: all .66s;}
main #sec1 .summary_inner .scroll_wrap .intro_wrap .intro_con.standard {top: 0; left: 50%; transform: translate(-50%, 0); opacity: 1;}
main #sec1 .summary_inner .scroll_wrap .intro_wrap .intro_con.show {opacity: 1; transition: all .66s}
main #sec1 .summary_inner .scroll_wrap .intro_wrap .intro_con:nth-child(1) {background: url("../images/img-sustainability-vision-bg-01.jpg") no-repeat; background-size: cover; background-position: center;}
main #sec1 .summary_inner .scroll_wrap .intro_wrap .intro_con:nth-child(2) {left: calc(50%); background: url("../images/img-sustainability-vision-bg-02.jpg") no-repeat; background-size: cover; background-position: center; transition: all .66s;}
main #sec1 .summary_inner .scroll_wrap .intro_wrap .intro_con:nth-child(3) {left: calc(50%); background: url("../images/img-sustainability-vision-bg-03.jpg") no-repeat; background-size: cover; background-position: center;}

main #sec1 .summary_inner.motionTwo .intro_wrap .intro_con:nth-child(1) {left: calc(50% - 210px); transform: translateX(-50%); margin-right: 60px;}
main #sec1 .summary_inner.motionTwo .intro_wrap .intro_con:nth-child(2) {left: calc(50% - 210px); transform: translateX(-50%);}
main #sec1 .summary_inner.motionTwo .intro_wrap .intro_con:nth-child(3) {left: calc(50%); transition: all .66s;}

main #sec1 .summary_inner.motionThr .intro_wrap .intro_con:nth-child(1) {left: 0; transform: translate(0); transition: all .66s;}
main #sec1 .summary_inner.motionThr .intro_wrap .intro_con:nth-child(2) {left: calc(0%); transform: translate(0); margin-right: 60px; transition: all .66s;}
main #sec1 .summary_inner.motionThr .intro_wrap .intro_con:nth-child(3) {left: calc(0%); transition: all .66s;}

main #sec1 .summary_inner .scroll_wrap .intro_wrap .intro_con .txt_wrap {display: flex; justify-content: center; align-items: center; height: 100%; transition: all .66s;}
main #sec1 .summary_inner .scroll_wrap .intro_wrap .intro_con.onTxt {margin-top: 100px; transition: all .66s;}
main #sec1 .summary_inner .scroll_wrap .intro_wrap .intro_con::before {content: ""; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background-color: transparent; transition: all .66s;}
main #sec1 .summary_inner .scroll_wrap .intro_wrap .intro_con.onTxt2::before {background-color: rgba(0, 0, 0, .3);}
main #sec1 .summary_inner .scroll_wrap .intro_wrap .intro_con .slogan_txt {position: absolute; top: calc(50% + 100px); left: 50%; transform: translate(-50%, -50%); color: #fff; font-size: 50px; opacity: 0;; transition: all .66s;}
main #sec1 .summary_inner .scroll_wrap .intro_wrap .intro_con.onTxt .slogan_txt {top: 50%; opacity: 1;}
main #sec1 .summary_inner .scroll_wrap .intro_wrap .intro_con.onTxt2 .slogan_txt {top: 10%; font-size: 20px; opacity: 1;}
main #sec1 .summary_inner .scroll_wrap .intro_wrap .intro_con .info_txt {color: #fff; font-size: 30px; opacity: 0; visibility: hidden; transform: translateY(100px); transition: all .66s;}
main #sec1 .summary_inner .scroll_wrap .intro_wrap .intro_con.onTxt2 .info_txt {opacity: 1; transform: translateY(0); visibility: visible;}



main .social_programs {border: 1px solid red; height: 100vh;}